<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <br>
        <div class="container">
            <h3 style="text-align: center;">Home Page</h3>
            <br>
            <div class="text-center">
                <button class="btn btn-primary" onclick="check()" >Get User Details</button>
            </div>   
        </div>
        <script>
            function check(){
                if(localStorage.getItem("Token")===""){
                    location.href="http://localhost:8080/login"
                }
                else{
                    location.href="http://localhost:8080/dashboard"
                }
            }
        </script>
    </body>
</html>